.ErrorMessage {
    width: 90%;
    max-width: 410px;
    margin: 0 auto 30px;
    padding: 20px;
    text-align: center;
    background-color: #f5dcd4;
    border: 1px solid #e6a994;
    border-radius: 5px;
    color: #903a1d;
}