.Register {
    max-width: 480px;
    width: 80%;
    margin: 0 auto;

    h1 {
        margin-bottom: 30px;
        font-size: 26px;
        text-align: center;
    }
    
    .Button {
        width: 50%;
    }

    .loginFormForgot {
        float: right;
    }
}

