.RecoveryPassword  {
    max-width: 380px;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    h1 {
        margin-bottom: 30px;
        font-size: 26px;
    }

    p {
        padding: 0 15px;
        margin-bottom: 15px;
    }

    .loginForm {
        display: block;
        width: 90%;
        margin: 0 auto !important;
    
        .loginFormButton {
            width: 100%;
        }
    }
}



