.Logo {
    background-color: #fff;
    padding: 4px;
    height: 100%;
    float: left;
    // width: 100%;
    box-sizing: border-box;
    border-radius: 50%;

    img {
        display: block;
        height: 100%;
    }
}
